@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

.banner {
  background-color: #FF707A;
  padding: 2.5%;
  margin-top: 1.25%;
}

.nav-link {
  font-family: monospace;
  color: white;
  font-size: 2vh;
  text-decoration: none;
}

.nav-link:hover {
  color: #29F5BB;
}

#initials {
  font-family: 'Just Me Again Down Here', cursive;
  text-align: right;
  color: white;
  font-size: 6vh;
}