@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

.banner {
  background-color: #FF707A;
  padding: 1.75%;
  margin-top: 0.75%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.nav-link {
  font-family: monospace;
  color: white;
  font-size: 2vh;
  text-decoration: none;
}

.nav-link:hover {
  color: #29F5BB;
}

#initials {
  font-family: 'Just Me Again Down Here', cursive;
  text-align: right;
  color: white;
  font-size: 6vh;
}

.title-text {
  font-family: sans-serif;
  text-align: center;
  padding: 5%;
}